/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/03/2019, 02:07:22 PM
    Author     : LordLalo
*/

*{
    -fx-SalaEspera-listaJug-color: #424242B3; /*B3 indica transparencia de 70%*/
    -fx-backG-button-color: linear-gradient(  #4bd14b 1%,  black 95%);/* #999999 2%,  black 95%  #003399  #0000ff*/
    -fx-backG-button-color-hover: linear-gradient(   #21b4e2 1%,  black 95%);/* #999999 2%,  black 95%*/
    -fx-SalaEspera-listJug-TxtColor: #E0E0E0;
}


#fondo{

    -fx-image:url("../resources/virusFondo.jpg");
}
#imgAvatar{
    -fx-image: url("../resources/imagenesAvatar/avt14.png");
}
#imgFondoRegistro{
    -fx-image:url("../resources/virusRegis.jpg");
}

#fondoEspera{
    -fx-image:url("../resources/fondoEspera.jpg");
}

.labelTitulo{

    -fx-text-fill: blue;
    -fx-font: bold 80pt "Berlin Sans FB" ;
}
.button{
    -fx-text-fill: whitesmoke;
    -fx-background-color: -fx-backG-button-color;
    -fx-border-radius:10;
    -fx-background-radius: 10px;
    -fx-font: bold 9pt "Bahnschrift" ;
/*    -fx-pref-height: 60px;          Es problemático tener un tamaño definido para todos los bonotes en general.
    -fx-pref-width: 200px; */ 
    -fx-border-color: black;


}
.contenedorMsj{

     -fx-text-fill: whitesmoke;
    -fx-background-color: red;
    -fx-border-radius:10;
    -fx-background-radius: 10px;
    -fx-font: bold 9pt "Bahnschrift" ;
    -fx-border-color: black;
}
.button:hover{
    -fx-background-color: -fx-backG-button-color-hover;

}
/*.label{
    -fx-text-fill:whitesmoke;
    -fx-background-color: linear-gradient(  #1831DC 1%,  black 95%);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;

}*/
.TextField:hover{
    -fx-background-color: linear-gradient(   #21b4e2 1%,  black 95%);/* #999999 2%,  black 95%*/

}

.SalaEspera_JugadoresConectos > Label{
    -fx-text-fill: -fx-SalaEspera-listJug-TxtColor;
    -fx-background-color: -fx-SalaEspera-listaJug-color;
    -fx-background-radius: 10px;
    -fx-font: bold 20pt "Bahnschrift"
}

.SalaEspera_Jug_Principal{
    -fx-text-fill: -fx-SalaEspera-listJug-TxtColor;
    -fx-background-color: -fx-SalaEspera-listaJug-color;
    -fx-background-radius: 10px;
    -fx-font: bold 20pt "Bahnschrift"
}

#maso{
    -fx-image:url("../resources/cartas/Reverso.png");
}

#desecho{
    -fx-image:url("../resources/cartas/Desecho.png");
}
